.common {
  min-height: 4.5rem;
  border-radius: var(--border-radius);
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: var(--fs-sm);
  background-color: var(--gray-500);
}

.task {
  composes: common;
  border: 1px solid var(--gray-400);
}

/* I'm pretty sure other class would not be needed 
  if use :has() selector on .task (but it has low support yet)*/
.taskDone {
  composes: common;
  color: var(--gray-300);
  text-decoration: line-through;
}

.checkbox + label {
  flex-grow: 1;
}

.checkbox {
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid var(--blue);
  border-radius: 100%;
  flex-shrink: 0;
}

.checkbox:is(:hover, :focus-visible) {
  background-color: var(--blue-dark);
  opacity: 80%;
  transition: all 0.2s;
}

.checkbox:checked {
  border: 2px solid var(--purple-dark);
  background: var(--purple-dark) url("../assets/check-icon.svg") no-repeat
    center / 0.9rem;
}

.checkbox:is(:hover, :focus-visible):checked {
  border: 2px solid var(--purple);
  background-color: var(--purple);
  opacity: 1;
}

.deleteBtn {
  padding: 0.25rem;
  border-radius: var(--border-radius);
  box-sizing: content-box;
  color: var(--gray-300);
  align-self: flex-start;
  flex-shrink: 0;
}

.deleteBtn:is(:hover, :focus) {
  color: var(--danger);
  background-color: var(--gray-400);
}
